<?xml version="1.0" encoding="utf-8"?>
<Menu> 
   <MenuGroup GroupName="Home">
       <MenuItem Controller="Home" />
   </MenuGroup>
    <MenuGroup GroupName="BusinessDay">
        <MenuItem Area="Vault" Controller="EndOfDay" Application="BusinessDay" />
        <MenuItem Area="Definition" Controller="BusinessDay" Application="BusinessDay" />
        <MenuItem Area="Vault" Controller="CorrectDepositsBusinessDay" Application="BusinessDay" />
    </MenuGroup>
    <MenuGroup GroupName="LocationManagement">
        <MenuItem Area="LocationManagement" Controller="Group" Application="Client" />
        <MenuItem Area="LocationManagement" Controller="Location" Application="Client" />
        <MenuItem Area="LocationManagement" Controller="WebUsers" />
        <MenuItem Area="LocationManagement" Controller="IvrUsers" />
        <Report Area="LocationManagement" ReportName="Client List by CashCentre" DisplayName="" Application="Client" />
        <!--
            The below line will force the report to open in the same tab. Note the use of the "ForceOpenInSameTab" attribute. 
            <Report Area="LocationManagement" ReportName="Client List by CashCentre" DisplayName="Client List by Cash Centre" Application="Client" ForceOpenInSameTab="true" />
        -->
    </MenuGroup>
    <MenuGroup GroupName="TransportCompanyManagement">
        <MenuItem Area="LocationManagement" Controller="TransportCompany" Application="TransportCompany" />
        <MenuItem Area="LocationManagement" Controller="TransportCompanyWebUsers" Application="TransportCompany" />
    </MenuGroup>
    <MenuGroup GroupName="Configuration">
        <MenuItem Area="Configuration" Controller="Reception" />
        <MenuItem Area="Configuration" Controller="Dispatch" />
        <MenuItem Area="Configuration" Controller="Counting" />
        <MenuItem Area="Configuration" Controller="Order" />
        <MenuItem Area="Configuration" Controller="CashImport" />
        <MenuItem Area="Configuration" Controller="CashExport" />
        <MenuItem Area="Configuration" Controller="Reclassify" />
        <MenuItem Area="Configuration" Controller="AuthorisationLimits" />
        <MenuItem Area="Configuration" Controller="DepositRule" />
        <MenuItem Area="Configuration" Controller="OrderRule" />
    </MenuGroup>
    <MenuGroup GroupName="Counting">
        <MenuItem Area="ContainerManagement" Controller="AcknowledgeTransfer" Application="Counting" />
        <MenuItem Area="CountingPreparation" Controller="CountingPreparation" Application="Counting" />
        <MenuItem Area="CountingPreparation" Controller="ProcessByPcd" Application="Counting" />
        <MenuItem Area="CountingPreparation" Controller="RejectEntry" Application="Counting"  />
        <MenuItem Area="CountingPreparation" Controller="Reconciliation" Application="Counting" />
        <MenuItem Area="CountingPreparation" Controller="AggregateDifferences" Application="Counting" />
        <MenuItem Area="CashManagement" Controller="CashTransfer" Application="Counting" />
        <MenuItem Area="CashManagement" Controller="Reclassify" Application="Counting" />
        <MenuItem Area="CashManagement" Controller="CashBalance" Application="Counting" />
        <MenuItem Area="CashManagement" Controller="HstbTransfer" Application="Counting" />
        <MenuItem Area="CashManagement" Controller="HstbTransferSearch" Application="Counting" />
        <!--<MenuItem Area="CountingPreparation" Controller="Closure" Application="Counting" />-->
        <Report Area="CountingPreparation" ReportName="ACDP Process Summary" DisplayName="" Application="Counting" />
        <Report Area="CountingPreparation" ReportName="Counting Deposit Summary" DisplayName="" Application="Counting" />
        <Report Area="CountingPreparation" ReportName="Counting Deposit Summary Historic" DisplayName="" Application="Counting" />
        <Report Area="CountingPreparation" ReportName="Current Balance Listing" DisplayName="" Application="Counting" />
        <Report Area="CountingPreparation" ReportName="Current Balance Summary by Inventory" DisplayName="" Application="Counting" />
        <Report Area="CountingPreparation" ReportName="Difference Statement - Deposit" DisplayName="" Application="Counting" />
        <Report Area="CountingPreparation" ReportName="HSTB Cash Transfer" DisplayName="" Application="Counting" />
        <Report Area="CountingPreparation" ReportName="Preparation Listing" DisplayName="" Application="Counting" />
        <Report Area="CountingPreparation" ReportName="Reconciliation Media List" DisplayName="" Application="Counting" />
        <Report Area="CountingPreparation" ReportName="Transaction Report" DisplayName="" Application="Counting" />
        <!--
            <Report Area="CountingPreparation" ReportName="CountSummary" DisplayName="Counting Summary (Crystal)" Application="Counting" ReportType="Crystal" />
        -->
    </MenuGroup>
    <MenuGroup GroupName="Definition">
        <MenuItem Area="Definition" Controller="Country" />
        <MenuItem Area="Definition" Controller="Calendar" />
        <MenuItem Area="Definition" Controller="TimeZone" />
        <MenuItem Area="Definition" Controller="Currency" />
        <MenuItem Area="Definition" Controller="MediaFamily" />
        <MenuItem Area="Definition" Controller="Media" />
        <MenuItem Area="Definition" Controller="MediaGroup" />
        <MenuItem Area="Definition" Controller="CashCentre" />
        <MenuItem Area="Definition" Controller="InventoryLocation" />
        <MenuItem Area="Definition" Controller="Service" />
        <MenuItem Area="Definition" Controller="List" />
        <MenuItem Area="Definition" Controller="Atm" />
        <MenuItem Area="Definition" Controller="UserTransfer" />
        <MenuItem Area="Definition" Controller="Route" />
        <MenuItem Area="Definition" Controller="FinancialInstitution" />
    </MenuGroup>
    <MenuGroup GroupName="Dispatch">
        <MenuItem Area="ContainerManagement" Controller="ContainerTransfer" Application="Dispatch" />
        <MenuItem Area="ContainerManagement" Controller="AcknowledgeTransfer" Application="Dispatch" />
        <MenuItem Area="ContainerManagement" Controller="OpenLoadContainer" Application="Dispatch" />
        <MenuItem Area="Dispatch" Controller="Shipment" />
        <MenuItem Area="Dispatch" Controller="Dispatch" />
        <MenuItem Area="ContainerManagement" Controller="ContainerDetails" Application="Dispatch" />
        <Report Area="Dispatch" ReportName="Dispatch" DisplayName=""/>
        <Report Area="Dispatch" ReportName="Dispatch Historic" DisplayName=""/>
        <Report Area="Dispatch" ReportName="Dispatch Container Details" DisplayName=""/>
    </MenuGroup>
    <MenuGroup GroupName="Essence">
        <MenuItem Area="CountingPreparation" Controller="CountingPreparation" Application="Essence" />
        <MenuItem Area="CountingPreparation" Controller="RejectEntry" Application="Essence" />
        <MenuItem Area="CountingPreparation" Controller="ProcessByPcd" Application="Essence" />
        <MenuItem Area="CountingPreparation" Controller="Reconciliation" Application="Essence" />
        <MenuItem Area="CountingPreparation" Controller="AggregateDifferences" Application="Essence" />
        <MenuItem Area="CashManagement" Controller="CashBalance" Application="Essence" />
        <MenuItem Area="CashManagement" Controller="CashTransfer" Application="Essence" />
        <MenuItem Area="CashManagement" Controller="CashExport" Application="Essence" />
        <MenuItem Area="CountingPreparation" Controller="Closure" Application="Essence" />
        <MenuItem Area="Security" Controller="AuditLog" Application="Essence" />
        <MenuItem Area="Security" Controller="Users" Application="Essence" />
        <MenuItem Area="LocationManagement" Controller="Location" Application="Essence" />
        <MenuItem Area="LocationManagement" Controller="Group" Application="Essence" />
        <Report Area="CountingPreparation" ReportName="Counting Deposit Summary" DisplayName="" Application="Essence"/>
        <Report Area="CountingPreparation" ReportName="Counting Deposit Summary Historic" DisplayName="" Application="Essence"/>
        <Report Area="CountingPreparation" ReportName="Preparation Listing" DisplayName="" Application="Essence" />
        <Report Area="CountingPreparation" ReportName="Reconciliation Media List" DisplayName="" Application="Essence" />
        <Report Area="LocationManagement" ReportName="Client List by CashCentre" DisplayName="" Application="Essence"/>
        <Report Area="Security" ReportName="Audit Report" DisplayName="" Application="Essence"/>
        <Report Area="Security" ReportName="User Access" DisplayName="" Application="Essence"/>
    </MenuGroup>
    <MenuGroup GroupName="Notifications">
      <MenuItem Area="Notifications" Controller="SubscriptionGroups"/>
      <MenuItem Area="Notifications" Controller="CurrentNotifications"/>
      <MenuItem Area="Notifications" Controller="MyNotifications"/>
    </MenuGroup>
    <MenuGroup GroupName="Order" >
        <MenuItem Area="Order" Controller="OrderEntry" />
        <MenuItem Area="Order" Controller="StandingOrderEntry" />
        <MenuItem Area="Order" Controller="Activation" />
        <MenuItem Area="Order" Controller="Allocation" />
        <MenuItem Area="CentralBank" Controller="AssignOrder" Application="Orders" />
        <MenuItem Area="Order" Controller="Filling" />
        <MenuItem Area="CentralBank" Controller="FillByBundle" Application="Orders" />
        <MenuItem Area="Order" Controller="IssueStandingOrders" />
        <MenuItem Area="ContainerManagement" Controller="OpenLoadContainer" Application="Orders" />
        <MenuItem Area="CashManagement" Controller="CashBalance" Application="Orders" />
        <MenuItem Area="ContainerManagement" Controller="ContainerTransfer" Application="Orders" />
        <MenuItem Area="ContainerManagement" Controller="AcknowledgeTransfer" Application="Orders" />
        <MenuItem Area="Order" Controller="Reallocation" />
        <MenuItem Area="Order" Controller="UndoFilling" />
        <MenuItem Area="ContainerManagement" Controller="ContainerDetails" Application="Orders" />
        <MenuItem Area="CashManagement" Controller="AcknowledgeCashTransfer" Application="Orders" />
        <!--
            The Order Bag Enclosure report is presented in the ISA Application as Assigned Orders. This report is intended for Central Banks and not cash processing.
            Therefore commented out. Alan Lochhead 5th Sept 2022
        -->
        <!-- <Report Area="Order" ReportName="Orders Bag Enclosure" DisplayName="" /> -->
        <Report Area="Order" ReportName="Customer Order Analysis" DisplayName="" />
        <Report Area="Order" ReportName="Order Listing" DisplayName="" />
        <Report Area="Order" ReportName="Order Picking List" DisplayName="" />
        <Report Area="Order" ReportName="Re-Print Order Allocation" DisplayName="" />
    </MenuGroup>
    <MenuGroup GroupName="Reception" >
        <MenuItem Area="Reception" Controller="AddReception" />
        <MenuItem Area="CentralBank" Controller="NewNoteReception" Application="Reception" />
        <MenuItem Area="ContainerManagement" Controller="OpenLoadContainer" Application="Reception" />
        <MenuItem Area="ContainerManagement" Controller="ContainerTransfer" Application="Reception" />
        <MenuItem Area="ContainerManagement" Controller="AcknowledgeTransfer" Application="Reception" />
        <MenuItem Area="ContainerManagement" Controller="ContainerDetails" Application="Reception" />
        <Report Area="Reception" ReportName="Reception" DisplayName="" />
        <Report Area="Reception" ReportName="Reception Historic" DisplayName="" />
        <Report Area="Reception" ReportName="New Note Reception Details" DisplayName="" />
        <Report Area="Reception" ReportName="New Note Reception Historic Main Report" DisplayName="" />
        <Report Area="Reception" ReportName="Received Inter Cash Centre Movements" DisplayName="" />
        <Report Area="Reception" ReportName="Unreceived Inter Cash Centre Movements" DisplayName="" />
        <Report Area="Reception" ReportName="Reception Container Details" DisplayName="" />
        <!-- <Report Area="Reception" ReportName="New Note Reception Container Details" DisplayName="" /> -->
    </MenuGroup>
    <MenuGroup GroupName="Security">
        <MenuItem Area="Security" Controller="Users" Application="Security" />
        <MenuItem Area="Security" Controller="ExternalUsers" Application="Security" />
        <MenuItem Area="Security" Controller="AuditLog" Application="Security" />
        <MenuItem Area="Security" Controller="UserRoles" Application="Security" />
        <MenuItem Area="Security" Controller="WebUserRoles" Application="Security" />
        <MenuItem Area="Security" Controller="SecuritySettings" Application="Security" />
        <MenuItem Area="Security" Controller="ManageWorkstations" Application="Security" />
        <Report Area="Security" ReportName="Audit Report" DisplayName="" Application="Security"/>
        <Report Area="Security" ReportName="User Access" DisplayName="" Application="Security"/>
    </MenuGroup>
    <MenuGroup GroupName="Supervisor">
        <MenuItem Area="Supervisor" Controller="CashViewer" />
        <MenuItem Area="CountingPreparation" Controller="CountingSearch" />
        <MenuItem Area="Reception" Controller="ReceptionSearch" />
        <MenuItem Area="CentralBank" Controller="NewNoteReceptionSearch" Application="Supervisor"/>
        <MenuItem Area="Order" Controller="OrderSearch" />
        <MenuItem Area="Order" Controller="StandingOrderSearch" />
        <MenuItem Area="ContainerManagement" Controller="ContainerSearch" />
        <MenuItem Area="ContainerManagement" Controller="ContainerHistorySearch" />
        <MenuItem Area="CashManagement" Controller="CashImportSearch" />
        <MenuItem Area="CashManagement" Controller="CashExportSearch" />
        <MenuItem Area="CashManagement" Controller="CashTransferSearch" />
        <MenuItem Area="ContainerManagement" Controller="ContainerTransferSearch" />
        <MenuItem Area="Dispatch" Controller="ShipmentSearch" />
        <MenuItem Area="Dispatch" Controller="DispatchSearch" />
        <MenuItem Area="CountingPreparation" Controller="ManageDifferences" Application="Supervisor" />
        <MenuItem Area="CashManagement" Controller="InterCashCentreRequestSearch" Application="Supervisor" />
        <MenuItem Area="Dispatch" Controller="TransportVisit" Application="Supervisor" />
        <!-- The below line will enable an external application link. Note the selection of the permission to use, plus the hardcoded display name and parameterised URL. -->
        <!-- <ExternalApp Url="https://aremoteserver/?ws={Workstation}&amp;cc={CashCentre}&amp;user={UserName}&amp;invLoc={InventoryLocation}" DisplayName="External App Link" Permission="ExternalApp1" /> -->
        <!--<Report Area="Supervisor" ReportName="Cash Centre KPIs" DisplayName="Cash Operations Dashboard" Application="Supervisor"/>-->
        <Report Area="Supervisor" ReportName="Supervisor Cash Container Inventory" DisplayName="" Application="Supervisor"/>
        <Report Area="Supervisor" ReportName="Supervisor Cash Export Historic" DisplayName="" Application="Supervisor"/>
        <Report Area="Supervisor" ReportName="Supervisor Cash Import Historic" DisplayName="" Application="Supervisor"/>
        <Report Area="Supervisor" ReportName="Supervisor Cash Transfer" DisplayName="" Application="Supervisor" />
        <Report Area="Supervisor" ReportName="Supervisor Cash Transfer Historic" DisplayName="" Application="Supervisor"/>
        <Report Area="Supervisor" ReportName="Supervisor Container Audit" DisplayName="" Application="Supervisor"/>
        <Report Area="Supervisor" ReportName="Supervisor Container Inventory" DisplayName="" Application="Supervisor"/>
        <Report Area="Supervisor" ReportName="Supervisor Container Inventory by Type" DisplayName="" Application="Supervisor"/>
        <Report Area="Supervisor" ReportName="Supervisor Container Transfer" DisplayName="" Application="Supervisor"/>
        <Report Area="Supervisor" ReportName="Supervisor Container Transfer Historic" DisplayName="" Application="Supervisor"/>
        <Report Area="Supervisor" ReportName="Supervisor Current Balance Listing" DisplayName="" Application="Supervisor"/>
        <Report Area="Supervisor" ReportName="Supervisor Current Balance Summary by Inventory" DisplayName="" Application="Supervisor" />
        <Report Area="Supervisor" ReportName="Supervisor Customer Order Analysis" DisplayName="" Application="Supervisor"/>
        <Report Area="Supervisor" ReportName="Supervisor Dispatch Historic" DisplayName="" Application="Supervisor"/>
        <Report Area="Supervisor" ReportName="Supervisor HSTB Cash Transfer Historic" DisplayName="" Application="Supervisor"/>
        <Report Area="Supervisor" ReportName="Supervisor New Note Reception Historic Main Report" DisplayName="" Application="Supervisor" />
        <Report Area="Supervisor" ReportName="Supervisor Reception Historic" DisplayName="" Application="Supervisor" />
        <!--
            <Report Area="Supervisor" ReportName="OperatorBalance" DisplayName="Operator Balance" Application="Supervisor" ReportType="Crystal"/>
            <Report Area="Supervisor" ReportName="AreaBalance" DisplayName="Area Balance" Application="Supervisor" ReportType="Crystal"/>
        -->
    </MenuGroup>
    <MenuGroup GroupName="Vault">
        <MenuItem Area="CashManagement" Controller="CashTransfer" Application="Vault" />
        <MenuItem Area="CashManagement" Controller="AcknowledgeCashTransfer" Application="Vault" />
        <MenuItem Area="ContainerManagement" Controller="ContainerTransfer" Application="Vault" />
        <MenuItem Area="ContainerManagement" Controller="AcknowledgeTransfer" Application="Vault" />
        <MenuItem Area="CashManagement" Controller="CashImport" Application="Vault" />
        <MenuItem Area="CashManagement" Controller="CashExport" Application="Vault" />
        <MenuItem Area="CashManagement" Controller="Reclassify" Application="Vault" />
        <MenuItem Area="CentralBank" Controller="NewNoteReclassify" Application="Vault" />
        <MenuItem Area="CashManagement" Controller="CashBalance" Application="Vault" />
        <MenuItem Area="CashManagement" Controller="CashContainer" Application="Vault" />
        <MenuItem Area="ContainerManagement" Controller="ContainerDetails" Application="Vault" />
        <MenuItem Area="CentralBank" Controller="TrackAndStore" Application="Vault" />
        <MenuItem Area="CentralBank" Controller="Monetise" Application="Vault" />
        <MenuItem Area="CentralBank" Controller="RecordUsedNoteStraps" Application="Vault" />
        <MenuItem Area="CashManagement" Controller="InterCashCentreRequest" Application="Vault" />
        <Report Area="Vault" ReportName="Balance Adjustment" DisplayName=""/>
        <Report Area="Vault" ReportName="Cash Container Inventory" DisplayName=""/>
        <Report Area="Vault" ReportName="Cash Export" DisplayName=""/>
        <Report Area="Vault" ReportName="Cash Export Historic" DisplayName=""/>
        <Report Area="Vault" ReportName="Cash Import" DisplayName=""/>
        <Report Area="Vault" ReportName="Cash Import Historic" DisplayName=""/>
        <Report Area="Vault" ReportName="Cash Transfer" DisplayName=""/>
        <Report Area="Vault" ReportName="Cash Transfer Historic" DisplayName=""/>
        <Report Area="Vault" ReportName="Container Audit" DisplayName=""/>
        <Report Area="Vault" ReportName="Container Inventory" DisplayName=""/>
        <Report Area="Vault" ReportName="Container Inventory by Type" DisplayName=""/>
        <Report Area="Vault" ReportName="Container Tracking" DisplayName=""/>
        <Report Area="Vault" ReportName="Container Transfer" DisplayName=""/>
        <Report Area="Vault" ReportName="Container Transfer Historic" DisplayName=""/>
        <Report Area="Vault" ReportName="Container Work In Progress" DisplayName=""/>
        <Report Area="Vault" ReportName="Current Balance Listing" DisplayName=""/>
        <Report Area="Vault" ReportName="Current Balance Summary by Inventory" DisplayName=""/>
        <Report Area="Vault" ReportName="HSTB Cash Transfer" DisplayName="" />
        <Report Area="Vault" ReportName="HSTB Cash Transfer Historic" DisplayName=""/>
        <Report Area="Vault" ReportName="New Stock List" DisplayName=""/>
        <Report Area="Vault" ReportName="Reclassification" DisplayName=""/>
        <Report Area="Vault" ReportName="Used Note Stock List" DisplayName=""/>
    </MenuGroup>
    <MenuGroup GroupName="DiagnosticTools">
        <MenuItem Area="DiagnosticTools" Controller="DiagnosticTools" UseFrameworkNamespace="true" Application="DiagnosticTools" />
    </MenuGroup>
  <MenuGroup GroupName="GetSupport" >
    <ExternalApp Url="https://cashprocessingsolutions.atlassian.net/servicedesk/customer/portals" UseFrameworkNamespace="true" DisplayName="Get Support" Permission="None" />
  </MenuGroup>
</Menu>