<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="isalogconfig" type="DeLaRue.Isa.Core.Logging.Configuration.IsaLogConfigSection, DeLaRue.Isa.Core.Logging" allowLocation="true" allowDefinition="Everywhere" />
    <section name="isacachetimeouts" type="DeLaRue.Isa.Core.Caching.IsaCacheTimeoutsSection, DeLaRue.Isa.Core.Caching" allowLocation="true" allowDefinition="Everywhere" />
    <section name="isacontrols" type="DeLaRue.Isa.Framework.Controls.Config.ControlsConfigurationSection, DeLaRue.Isa.Framework.Controls" allowLocation="true" allowDefinition="Everywhere" />
    <section name="isapicture" type="DeLaRue.Isa.Core.Config.IsaPictureConfigSection, DeLaRue.Isa.Core.Config" allowLocation="true" allowDefinition="Everywhere" />
    <section name="isaReports" type="DeLaRue.Isa.Core.BusinessLogic.Reporting.ReportingConfigurationSection, DeLaRue.Isa.Core.BusinessLogic" allowLocation="true" allowDefinition="Everywhere" />
    <section name="isaidentity" type="DeLaRue.Isa.BusinessLogic.Security.Config.IsaIdentityConfigurationSection, DeLaRue.Isa.BusinessLogic.Security" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting" allowLocation="true" allowDefinition="Everywhere" />
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
  </configSections>
  <connectionStrings>
    <add name="Maestro" connectionString="VaultexSqlConnectionString"
      providerName="System.Data.SqlClient" />
    <add name="RemoteStorage" connectionString="VaultexMongoDbConnectionString"
      providerName="MongoDB.Driver" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ActivationCode" value="VaultexActivationCode" />
    <add key="MaximumActivationSearchResultCount" value="200" />
    <add key="MaximumAllocationSearchResultCount" value="200" />
    <add key="MaximumReallocationSearchResultCount" value="200" />
    <add key="MaximumMonetiseSearchResultCount" value="500" />
    <add key="MaximumAssignOrderSearchResultCount" value="500" />
    <add key="MaximumDepositsCorrectBusinessDaySearch" value="200" />
    <add key="CrystalUser" value="Maestro" />
    <add key="CrystalPassword" value="" />
    <add key="WebServiceSessionLifetime" value="00:15:00" />
    <add key="EnableTranslationInfo" value="False" />
    <add key="AutoImageCaptureTimeout" value="60" />
    <add key="EnableRecentInventoryLocations" value="True" />
    <add key="IsaExternalRunnerPort" value="8200" />
    <add key="WebServiceISAUser" value="INSTALL" />
    <add key="TaskBatchTimeout" value="86400" />
    <add key="ReportStorageLocation" value=".\Reports" />
    <add key="CrystalReportStorageLocation" value=".\CrystalReports" />
    <add key="ExtensionsBin" value=".\Extensions" />
    <add key="RunInServiceOnlyMode" value="False" />
    <add key="NotificationEmailBatchSize" value="200" />
    <add key="NotificationEmailTemplateLocation" value=".\App_Data\EmailNotificationTemplates" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="" password="" port="25" userName="" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <machineKey validationKey="VaultexValidationKey"
      decryptionKey="VaultexDecryptionKey"
      validation="SHA1" decryption="AES" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" maxRequestLength="1000000" maxQueryStringLength="32768" maxUrlLength="65536" />
    <compilation targetFramework="4.8">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Kendo.Mvc.UI" />
        <add namespace="DeLaRue.Isa.Framework.Localisation" />
        <add namespace="DeLaRue.Isa.Framework.Mvc.Extensions" />
        <add namespace="DeLaRue.Isa.Framework.Mvc.KendoExtensions" />
        <add namespace="DeLaRue.Isa.Framework.Menu" />
        <add namespace="DeLaRue.Isa.Core.Validation" />
        <add namespace="DeLaRue.Isa.Framework.Validation" />
      </namespaces>
    </pages>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="Custom" customProvider="IsaSessionProvider"
      cookieName="IsaSession" timeout="20" sessionIDManagerType="DeLaRue.Isa.Framework.Security.IsaSessionIdManager">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="IsaSessionProvider" type="DeLaRue.Isa.Framework.Security.RemoteSessionProvider, DeLaRue.Isa.Framework.Security" />
      </providers>
    </sessionState>
    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
    </httpHandlers>
    <globalization enableClientBasedCulture="true" uiCulture="auto:en-GB" culture="auto:en-GB" />
    <!-- <globalization uiCulture="he-IL" culture="he-IL" /> -->
    <customErrors mode="Off" />
    <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <httpModules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="DeLaRue.Isa.Framework.DiagnosticTools.Handlers.SessionAwareGlimpseHttpHandler, DeLaRue.Isa.Framework.DiagnosticTools, Version=1.0.0.0, Culture=neutral" preCondition="integratedMode" />
    </handlers>
    <modules>
      <remove name="Session" />
      <remove name="WebDAVModule" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength is in bytes (B)  -->
        <requestLimits maxAllowedContentLength="1073741824" maxQueryString="32768" />
        <!-- 1GB -->
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <!--
    This is set by the config tool automatically. Can't set it here because of IIS section locking.
    <serverRuntime enabled="true" uploadReadAheadSize="1073741824"/>
    -->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.1.0" newVersion="7.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.2.0" newVersion="4.9.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotless.ClientOnly" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.0" newVersion="1.5.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.7.0" newVersion="6.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.2.0" newVersion="2.4.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="Devart.Data.Oracle" type="Devart.Data.Oracle.Entity.OracleEntityProviderServices, Devart.Data.Oracle.Entity.EF6" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <!--<defaultConnectionFactory type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle" />-->
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <!-- Remove in case this is already defined in machine.config -->
      <remove invariant="Devart.Data.Oracle" />
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=9.14.1180.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories>
  </system.data>
  <isalogconfig timing="false" traceparameters="false" />
  <Telerik.Reporting>
    <AssemblyReferences>
      <add name="DeLaRue.Isa.Framework.Reporting" />
      <add name="DeLaRue.Isa.Reporting.DataSources" />
    </AssemblyReferences>
    <Extensions>
      <Render>
        <Extension name="IMAGE" visible="true"></Extension>
        <Extension name="CSV" visible="true"></Extension>
        <Extension name="RTF" visible="true"></Extension>
        <Extension name="MHTML" visible="true"></Extension>
        <Extension name="XPS" visible="true"></Extension>
        <Extension name="XLS" visible="true"></Extension>
        <Extension name="PDF" visible="true"></Extension>
      </Render>
    </Extensions>
  </Telerik.Reporting>
  <!--
  Specifies the caching timeouts for ISA.
    fast -    Specifies the number of seconds that a High volatility
              object is cached.
    slow -    Specifies the number of seconds that a Low volatility
              object is cached.
    reports - Specifies the number of seconds that report datasets
              are cached.
  -->
  <isacachetimeouts fast="60" slow="7200" reports="30" />
  <!--
  Specifies the compression of quality of images saved
  by ISA7.
  -->
  <isapicture quality="60" />
  <!--
  Default to using the client's local id server.
  disable can be set to true to turn off all identity behaviour
  -->
  <isaidentity idserver="" disable="false" />
  <isacontrols>
    <codenamesearch maxresults="25" />
  </isacontrols>
  <isaReports>
    <add name="autoInterCashCentreRequest" location="Auto Inter Cash Centre Request.trdx" />
    <add name="newNoteReception" location="Auto New Note Reception.trdx" />
    <add name="reception" location="Auto Reception.trdx" />
    <add name="containerTransfer" location="Auto Container Transfer.trdx" />
    <add name="acknowledgeContainerTransfer" location="Auto Acknowledge Container Transfer.trdx" />
    <add name="cashTransfer" location="Auto Cash Transfer.trdx" />
    <add name="balanceTransfer" location="Auto Cash Balance.trdx" />
    <add name="orderFilling" location="Auto Order Filling.trdx" />
    <add name="orderEntry" location="Auto Order Entry.trdx" />
    <add name="dispatch" location="Auto Dispatch.trdx" />
    <add name="orderActivation" location="Auto Order Activation.trdx" />
    <add name="orderAllocation" location="Auto Order Allocation.trdx" />
    <add name="orderAssign" location="Auto Assign Orders.trdx" />
    <add name="standingOrderEntry" location="Auto Standing Order Entry.trdx" />
    <add name="openLoadContainer" location="Auto Open Load Container.trdx" />
    <add name="acceptComponentDifference" location="Auto Accept Component Difference.trdx" />
    <add name="addPrepComponent" location="Auto Add Preparation Component.trdx" />
    <add name="finishPrepDeposit" location="Auto Finish Preparation Deposit.trdx" />
    <add name="modifyComponent" location="Auto Modify Component.trdx" />
    <add name="modifyDeposit" location="Auto Modify Deposit.trdx" />
    <!--
     Swap the line above with the one below in order to render that report to a Rich Text format instead of the default PDF format.
     Suitable for auto-reports going to simple ticket printers. Note the output attribute is set to Text.
     This is the only non-default option.

     <add name="finishPrepDeposit" location="CashTicketReport.trdx" output="Text" />
     -->
    <add name="validateComponentDifference" location="Auto Validate Component Difference.trdx" />
    <add name="validateDepositDifference" location="Auto Validate Deposit Difference.trdx" />
    <add name="monetise" location="Auto Monetise.trdx" />
    <add name="chequeData" location="Auto Cheque.trdx" />
    <add name="countingRejectAutomaticReport" location="Auto Counting Reject.trdx" />
    <add name="countingRejectHstbAutomaticReport" location="Auto Hstb Reject.trdx" />
    <add name="hstbTransferAutomaticReport" location="Auto HSTB Transfer.trdx" />
    <add name="cashBalanceVerify" location="Auto Verified Balance.trdx" />
    <add name="cashBalanceAdjust" location="Auto Adjusted Balance.trdx" />
    <!-- Crystal example
    <add name="orderEntry" location="AutoOrderEntryBasic" type="Crystal"/>
    -->
  </isaReports>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="defaultBinding" maxBufferPoolSize="1073741824" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824">
          <readerQuotas maxDepth="1073741824" maxStringContentLength="1073741824" maxArrayLength="1073741824" maxBytesPerRead="1073741824" maxNameTableCharCount="1073741824" />
        </binding>
        <binding name="SslBinding" maxBufferPoolSize="1073741824" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxDepth="1073741824" maxStringContentLength="1073741824" maxArrayLength="1073741824" maxBytesPerRead="1073741824" maxNameTableCharCount="1073741824" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add scheme="http" binding="basicHttpBinding" bindingConfiguration="defaultBinding" />
      <add scheme="https" binding="basicHttpBinding" bindingConfiguration="SslBinding" />
    </protocolMapping>
  </system.serviceModel>
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <runtimePolicies>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet" />
      </ignoredTypes>
    </runtimePolicies>
    <inspectors>
      <ignoredTypes>
        <add type="Glimpse.Mvc.Inspector.DependencyInjectionInspector, Glimpse.Mvc5" />
        <add type="Glimpse.AspNet.Inspector.RoutesInspector, Glimpse.AspNet" />
      </ignoredTypes>
    </inspectors>
    <tabs>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Tab.Routes, Glimpse.AspNet" />
      </ignoredTypes>
    </tabs>
  </glimpse>
</configuration>
<!--ProjectGuid: BDDC1919-8296-40F2-AD11-382E182434C5-->
